html {
    height: 100%;
    font-size: 100%;
    letter-spacing: 1px;
    overflow-x: hidden;
}

p {
    font-family: 'Montserrat';
    color: #000000;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

a {
    font-family: 'Montserrat';
    color: #000000;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat';
    font-weight: 700;
    color: #000000;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 64px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
    text-align: left;
}

nav {
  width: 100%;
  height: 75px;
  background-color: #F3F3F4;
}

nav a {
  display: block;
  float: right;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  text-decoration: none;

}

nav a:hover {
  color: #DC6A4C;

}

#logo {
  display: block;
  float: left;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: 10px;
  margin-top: 10px;
  height: 50px;
  width: auto;

}

.button-black {
 padding-top: 50px;
 padding-bottom: 20px;
}

.button-black a {
 text-decoration: none;
 border-radius: 4px;
 padding: 20px 60px;
 font-weight: 400;
 border: 2px solid #000000;
}

.button-black a:hover {
 color: #FFFFFF;
 background: #000000;
 border-radius: 4px;
 padding: 20px 60px;
 font-weight: 400;
}

.button-resume {
 padding-top: 50px;
 padding-bottom: 20px;
}

.button-resume a {
  text-decoration: none;
  color: #FFFFFF;
  background: #000000;
  border-radius: 4px;
  padding: 20px 60px;
  font-weight: 400;
}

.button-resume a:hover {
  color: #000000;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 20px 60px;
  font-weight: 400;
  border: 2px solid #000000;
}

.button-white {
 padding-top: 50px;
 padding-bottom: 20px;
}

.button-white a {
 color: #FFFFFF;
 text-decoration: none;
 border-radius: 4px;
 padding: 20px 60px;
 font-weight: 400;
 border: 2px solid #FFFFFF;
}

.button-white a:hover {
 color: #000000;
 background: #FFFFFF;
 border-radius: 4px;
 padding: 20px 60px;
 font-weight: 400;
}
